@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(https://images.wallpaperscraft.com/image/single/lawn_forest_mountains_144578_3840x2400.jpg);
    background-size: 100% 100%;
}
.login-box{
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.login-box h1 {
    font-size: 40px;
    text-align: center; 
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
}
.login-box h1:hover {
    font-size: 40px;
    text-align: center; 
    color: rgba(0,0,0, 0.4);
    border-bottom: 4px solid rgba(0,0,0, 0.4);
}
/*
hr {
    width: 150px;
    height: 5px;
    color: #2c78de;
    background: #2c78de;
    border: 0;
}
hr:hover{
    width: 150px;
    height: 5px;
    color: rgba(138,43,226, 0.4);
    background: rgba(138,43,226, 0.4);
    border: 0;
}
*/

.textbox{
    width: 100%;
    height: 100%;
    overflow: hidden;
    disaplay: grid;
    border-bottom: 1px solid #ffffff;
}

.textbox i{
    font-size: 25px;
    padding: 15px 10px;
    margin: 5px;
    float: left;
    text-align: center;
    color: #ffffff;
}

.textbox input {
    border: none;
    outline: none;
    color: #ffffff;
    background: none;
    width: 80%;
    font-size: 20px;
    float: left;
    padding: 10px 10px;
    margin: 10px 0;
}

input::placeholder{ 
     color:#ffffff;
}

input::placeholder:hover{ 
    color: rgba(0,0,0, 0.4);
}

.btn{
    width: 100%;
    background: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0 0 0px;
}

.btn:hover{
    width: 100%;
    background: rgba(0,0,0,0.1);
    color:  rgba(224, 218, 218, 0.4);
    border: 2px solid rgba(224, 218, 218, 0.4);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 12px 0;
    border-radius: 20px;
}
.btn:active{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border: 4px solid #ffffff;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    margin-left: 12px 0;
    border-radius: 20px;
}